<div class="list-item">
    <img [src]="product.imageLocation" />
    <div class="details">
        <div>
            <span>{{product.name}}</span>
        </div>
        <div class="price">
            <span>$</span><span>{{product.price}}</span>
            &nbsp;
        </div>
        <div class="measurement">{{product.measurement}}</div>
        <div>Quantity:&nbsp;
            <button (click)="decrement()">-</button>
            {{product.quantity}}
            <button (click)="increment()">+</button>
        </div>
    </div>
</div>
<hr />